* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a:active {
    color: black;
}

.container1 {
    background-image: url(../Images/joe-woods-4Zaq5xY5M_c-unsplash.jpg);
    color: rgb(0, 0, 0);
    height: 220px;
    display: flex;
    align-items: center;
    justify-content:space-around;
    padding-bottom: 1px;
    width: 100%;
    font-size: 70px;

}

#image1 {
    padding: 8px;
    width: 200px;
    height: 200px;
    background: #000000;
    border-radius: 50%;
}

#image2 {
    padding: 8px;
    width: 200px;
    height: 200px;
    background: #000000;
    border-radius: 50%;
}

.container2 {
    background-color: rgb(0, 0, 0);
    color: white;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 50px;
}

#zipRequest {
    background-color: black;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    font-size: 20px;
    padding: 10px;
}

#zipInput {
    border-radius: 4px;
    height: 50px;
    width: 200px;
    padding-top: 5px;
}

#zipDiv {
    color: rgb(0, 0, 0);
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 20px;
}

#zipBtn:hover {
    color: rgb(0, 89, 255)
}

#navbar {
    color: black;
    border-color: black;
    border-width: 2px;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    font-size: 20px;
}

#navbar:hover {
    cursor: pointer;
    color: rgb(0, 89, 255);
    font-size: 22px;
    border-color: rgb(0, 89, 255);
}

.buttoncontainer {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#dog {
    border-color: black;
    border-width: 2px;
    color: black;
    height: 50px;
    width: 100px;
    border-radius: 4px;
    font-size: 20px;
}

#cat {
    border-color: black;
    border-width: 2px;
    color: black;
    height: 50px;
    width: 100px;
    border-radius: 4px;
    font-size: 20px;
}

#other {
    border-color: black;
    border-width: 2px;
    color: black;
    height: 50px;
    width: 100px;
    border-radius: 4px;
    font-size: 20px;
}

#dog:hover {
    color: rgb(0, 89, 255);
    font-size: 22px;
    cursor: pointer;
    border-color: rgb(0, 89, 255);
}

#cat:hover {
    color: rgb(0, 89, 255);
    font-size: 22px;
    cursor: pointer;
    border-color: rgb(0, 89, 255);
}

#other:hover {
    color: rgb(0, 89, 255);
    font-size: 22px;
    cursor: pointer;
    border-color: rgb(0, 89, 255);
}

.textbox {
    font-size: 30px;
    color: rgb(255, 255, 255);
    padding-left: 4px;
}

.containerCenter {
    color: white;
    height: 280px;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 50px;
    flex-wrap: wrap;
    justify-content: center;
    border-color: black;
    padding: 8px;
}

.boxes {
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 200px;
    margin: 15px;
    color: rgb(255, 255, 255);
    border-style:solid;
    border: 2px;
    border-color:  rgb(0, 0, 0);
    font-size: 18px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
   /* justify-content: flex-end; */
    flex-direction: column;
    align-content: flex-end;
}

.boxes:hover {
    height: 204px;
    width: 204px;
    border-color: rgb(0, 89, 255);
    color: rgb(0, 89, 255);
    cursor: pointer;
}

/* I'm going to add in features that allow us to style the API information. */

.footer1 {
    background-image: url(../Images/joe-woods-4Zaq5xY5M_c-unsplash.jpg);
    color: rgb(0, 0, 0);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content:space-around;
    width: 100%;
    font-size: 40px;
}

.footer1:hover {
    color: rgb(0, 89, 255);
    font-size: 42px;
    cursor: pointer;
}

.footer2 {
    background-color: black;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content:center;
    padding-top: 75px;
    padding-bottom: 10px;
    width: 100%;
    font-size: 50px;
}

.footer2

.updated {
    background-image: url(../Images/joe-woods-4Zaq5xY5M_c-unsplash.jpg);
    color: rb(255, 255, 255);
    height: 26px;
    font-size: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.image3 {
    background-image: url(../Images/mikhail-vasilyev-ylPVYxHUjtQ-unsplash.jpg);
    background-size: 2000px;

    border: 2px solid;
}

@media (max-width:867px) {
.container1 {
    font-size: 60px;
    display: block;
}
#image1 {
    visibility: hidden;
    height: 1px;
    width: 1px;
}
#image2 {
    height: 1px;
    width: 1px;
    visibility: hidden;
}
}

@media (max-width:800px) {
    #zipRequest {
        font-size: 10px;
    }
    }